body{
    font-family: Arial, Helvetica, sans-serif;
    background: url(images/drums-shawn-sim.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.keys{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px;
    color: white;
    margin-top: auto;
    align-content: center;
}
.key{
    border: solid 2px;
    width: 70px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.07s;
}

span{
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(184, 8, 8);
    font-weight: bold;
    margin: 0;
    padding: 0px 0px 5px 0px;
}

kbd{
    margin: 0;
    font-size: 25px;
    padding: 10px 10px;
}

footer{
    margin-top: auto;
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px;
    font-size: 10px;
}

a{
    color: aqua;
}

.playing{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}